@font-face {
  font-family: bkoodk;
  src: url("fonts/bkoodk.ttf")format('truetype');
}
@font-face {
  font-family: btitr;
  src: url("fonts/btitr.ttf")format('truetype');
}
@font-face {
  font-family: mikhak;
  src: url("fonts/mikhak.ttf")format('truetype');
}
@font-face {
  font-family: bzar;
  src: url("fonts/bzar.ttf")format('truetype');
}
